.text-preset-1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0px;
  color: var(--slate-900);
}

.text-preset-2 {
  font-family: 'Outfit', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: var(--slate-500);
}
