@import url('./_reset.css');
@import url('./_variables.css');
@import url('./_presets.css');

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--slate-300);
}

.div__card {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-300);
  padding: var(--space-200);
  padding-bottom: var(--space-500);
  width: 320px;
  border-radius: 20px;
  background-color: var(--white);
}

.card__qr img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.card__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 var(--space-200);
  row-gap: var(--space-200);
}
