:root {
  /* Colors */
  --primary-color: #f4d04e;
  --secondary-color: #ffffff;
  --gray-950: #111111;
  --gray-500: #6b6b6b;

  /* Spacing */
  --space-300: 24px;
  --space-150: 12px;
  --space-100: 8px;
  --space-50: 4px;
}
